<!DOCTYPE html>
<html ng-app="regTodo">
  <head>
      	<style>
        	   body {
      		  padding: 50px;
      		  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      		  }
            .container {
      		  max-width: 500px;
      		  
      		  background-color: #white;
      		  border: 1px solid black;
      		  }
      	</style>
        <title>User Registered!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- styles -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="stylesheets/style.css" rel="stylesheet" media="screen">
      </head>
      <body ng-controller="mainController">


          <div class="container">
              <center>
                <div class="header">
                  <h2>Registration Complete.</h2>
                  <hr>
                  <h1 class="lead">You have been successfully registered.</h1>
                </div>
                   
              </center>
            </div>   
               
              <br/>
              
              <center>
                <a href="/" class="btn btn-default">Back to Menu</a>
              </center>
              
              <br/>
    </body>
</html> 